@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  color: #000000;
  background-color: #ffffff
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
}

.navigation-logo {
  width: 140px;
  margin: 0 auto;
  margin-left: 70px;
}

.navigation-list {
  width: 340px;
  margin: 0;
  padding: 0;
  display: inline;
}

.navigation-user {
  width: 268px;
  margin-left: auto;
  display: inline;
}

.navigation-link {
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  background-color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;
}

.navigation-link-here {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
  text-decoration: none;
}

.logo {
  display: block;
  margin: 0 auto;
}

.background-index {
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.advantages-title {
  text-transform: uppercase;
}

.true-town {
  display: block;
  margin: 0;
  padding: 0;
  weight: 400px;
}

.advantages-title-main,
.services-title-main,
.search-hotel-title-main {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description-main,
.services-description-main,
.search-hotel-date-main {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.advantages-list {
  list-style: none;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item-town,
.advantages-item-bridge {
  background-color: #82B3D3;
  color: #ffffff;
  width: 1200px;
}

.advantages-item-square,
.advantages-item-tourist {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
  width: 400px;
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
  width: 400px;
}

.services-list {
  list-style: none;
  text-align: center;
  vertical-align: middle;
  display: flex;
}

.services-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
  text-transform: uppercase;
}

.services-item-food {
  width: 400px;
  background-color: #ffffff;
  color: #000000;
}

.advantages-description-textcolor,
.services-description-textcolor {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  align-self: stretch;
}

.button-search-hotel {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  border-radius: 4px;
  text-transform: uppercase;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-info {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.subscribe-main {
  background-image: url("../images/background-subscribe.jpg");
  width: 1200px;
  background-repeat: no-repeat;
}

.subscribe-main .subscribe-title,
.subscribe-main .subscribe-info {
  color: #FFFFFF;
}

.subscribe-info-main {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.subscribe-form {
  align-items: center;
}

.field {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.subscribe-button {
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.footer-phonenumber-link {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  text-transform: capitalize;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.button-accept {
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.sorting-howmany {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotel-card-text,
.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-link {
  text-decoration: none;
}

.button-details {
  background-color: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}

.button-favourites {
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}

.button-infavorites {
  background-color: #7DB54F;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}

.rating {
  background-color: #F2F2F2;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-transform: uppercase;
}

.pagination-link {
  background-color: #82B3D3;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination-current {
  text-transform: uppercase;
}

.pagination-current,
.pagination-points {
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
}

.inner-header-background {
  background-image: url("../images/background-filter.jpg");
  width: 1200px;
}

.page-footer {
  display: flex;
}

.sorting-block {
  display: flex;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
}

.hotel-card {
  margin: 0;
  padding: 0;
  width: 300px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  margin: 20px;
}

.amara-card {
  margin-left: 70px;
}

.desert-card {
  margin-right: 70px;
}

.pagination {
  display: flex;
}
